[project]
	description = this is my webb application with hibernate,maven,servlet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manuk Gharslyan (Realintern)
[access "refs/for/refs/*"]
	read = group user/Manuk Gharslyan (Realintern)
	push = group user/Manuk Gharslyan (Realintern)
	label-Code-Review = -2..+2 group user/Manuk Gharslyan (Realintern)
	label-Verified = -1..+1 group user/Manuk Gharslyan (Realintern)
	rebase = group user/Manuk Gharslyan (Realintern)
	removeReviewer = group user/Manuk Gharslyan (Realintern)
	submit = group user/Manuk Gharslyan (Realintern)
[access "refs/heads/*"]
	read = group user/Manuk Gharslyan (Realintern)
	create = group user/Manuk Gharslyan (Realintern)
	push = +force group user/Manuk Gharslyan (Realintern)
	pushMerge = group user/Manuk Gharslyan (Realintern)
[access "refs/tags/*"]
	push = +force group user/Manuk Gharslyan (Realintern)
	pushTag = group user/Manuk Gharslyan (Realintern)
	pushSignedTag = group user/Manuk Gharslyan (Realintern)
